# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.env.*
.gcp_key.json

# Virtual environments
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Coverage
.coverage
coverage.xml
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Docker
*.log
*.pid
*.pid.lock

# Data output
jobs-output/
*.parquet
*.csv
